main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  .widgets-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-bottom: 25px;
    gap: 22px;
    .widgets {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
      gap: 22px;
      @media (max-width: $maxMedium) {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-behavior: smooth;
        justify-content: flex-start;
      }
      .widget {
        border-radius: 18px;
        flex: 1 0 auto;
        height: 100%;
        flex-wrap: wrap;
        overflow: hidden;
        height: inherit;
        @media (max-width: $maxMedium) {
          min-width: 285px;
          width: fit-content;
        }
      }
      &.widgets-1 {
        gap: 17px;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        .widget {
          padding: 16px 25px;
          @media (max-width: $maxMedium) {
            width: 100%;
            .title {
              font-size: 15px;
              line-height: 18px;
            }
          }
          .title {
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            text-transform: uppercase;
            margin: 0;
          }
          &:first-of-type {
            background: radial-gradient(
                88.82% 114.41% at 49.93% 97.82%,
                rgba(255, 106, 22, 0.25) 0%,
                rgba(255, 106, 22, 0.15) 35.94%,
                rgba(0, 0, 0, 0) 100%
              ),
              #182630;
            box-shadow: -4px -4px 10px rgba(51, 81, 102, 0.5),
              3px 3px 4px rgba(0, 0, 0, 0.1), 10px 10px 30px rgba(0, 0, 0, 0.4);
          }
          &:last-of-type {
            background: radial-gradient(
                88.82% 114.41% at 49.93% 97.82%,
                rgba(0, 176, 206, 0.25) 0%,
                rgba(0, 111, 130, 0.175) 56.77%,
                rgba(0, 0, 0, 0) 100%
              ),
              #182630;
            box-shadow: -4px -4px 10px rgba(51, 81, 102, 0.5),
              3px 3px 4px rgba(0, 0, 0, 0.1), 10px 10px 30px rgba(0, 0, 0, 0.4);
          }
        }
      }
      &.widgets-2 {
        gap: 22px;
        .widget {
          padding: 18px;
          @media (max-width: 1600px) {
            padding: 15px 17px;
          }
          @media (max-width: $maxMedium) {
            gap: 23.2px;
          }
          .widget-circle {
            width: 100%;
            height: 100%;
            max-width: 110px;
            max-height: 110px;
            @media (max-width: $maxXLarge) {
              max-width: 86.8px;
              max-height: 86.8px;
            }
          }
          .widget-text {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            @media (max-width: 1600px) {
              .top-text {
                font-size: 18px !important;
              }
              .number {
                font-size: 50.9492px !important;
              }
              .bottom-text {
                font-size: 16px !important;
              }
            }
            @media (max-width: 1500px) {
              .top-text {
                font-size: 15px !important;
                line-height: 18px;
              }
              .number {
                font-size: 41.783px !important;
                line-height: 48px;
              }
              .bottom-text {
                font-size: 13px !important;
              }
            }
            @media (max-width: $maxXLarge) {
              .bottom-text {
                font-size: 10px;
                line-height: 12px;
              }
            }
            .top-text {
              font-weight: 400;
              font-size: 20px;
              line-height: 23px;
              text-transform: uppercase;
            }
            .number {
              font-family: "Play", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 52.9492px;
              margin-right: 10px;
              @media (max-width: 1500px) {
                margin-right: 4px;
              }
              span {
                &::after {
                  content: " ";
                }
                @media (max-width: 1600px) {
                  display: none;
                }
              }
            }
            .bottom-text {
              font-style: normal;
              font-weight: 300;
              font-size: 18px;
              line-height: 21px;
            }
          }
          &:first-of-type {
            background: radial-gradient(
                50.11% 174.69% at 100% 0%,
                rgba(98, 126, 234, 0.3) 0%,
                rgba(0, 0, 0, 0) 100%
              )
              #182630;
            box-shadow: -4px -4px 10px rgba(51, 81, 102, 0.5),
              3px 3px 4px rgba(0, 0, 0, 0.1), 10px 10px 30px rgba(0, 0, 0, 0.4);
          }
          &:nth-of-type(2) {
            background: radial-gradient(
                50.11% 174.69% at 100% 0%,
                rgba(191, 98, 234, 0.3) 0%,
                rgba(0, 0, 0, 0) 100%
              )
              #182630;
            box-shadow: -4px -4px 10px rgba(51, 81, 102, 0.5),
              3px 3px 4px rgba(0, 0, 0, 0.1), 10px 10px 30px rgba(0, 0, 0, 0.4);
          }
          &:last-of-type {
            background: radial-gradient(
                50.11% 174.69% at 100% 0%,
                rgba(98, 126, 234, 0.3) 0%,
                rgba(0, 0, 0, 0) 100%
              )
              #182630;
            box-shadow: -4px -4px 10px rgba(51, 81, 102, 0.5),
              3px 3px 4px rgba(0, 0, 0, 0.1), 10px 10px 30px rgba(0, 0, 0, 0.4);
          }
        }
      }
      &.widgets-3 {
        @media (max-width: 1650px) {
          grid-template-columns: repeat(2, 1fr);
          .widget {
            min-height: 65px;
          }
        }
        .widget {
          background: #182630;
          box-shadow: -4px -4px 10px rgba(51, 81, 102, 0.5),
            3px 3px 4px rgba(0, 0, 0, 0.1), 10px 10px 30px rgba(0, 0, 0, 0.4);
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 14px 16px;
          @media (max-width: 1700px) {
            padding: 14px;
          }
          .widget-text {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex: 1;
            gap: 13px;
          }
          .number {
            font-family: "Play";
            font-style: normal;
            font-weight: 400;
            font-size: 44px;
            line-height: 51px;
            letter-spacing: 1.4px;
            @media (max-width: 1700px) {
              font-size: 40px;
            }
            @media (max-width: $maxMedium) {
              font-size: 35px;
              line-height: 40px;
            }
          }
          .arrows {
            max-height: 62px;
            img {
              max-height: inherit;
            }
            @media (max-width: $maxMedium) {
              max-height: 42px;
            }
          }
          &:first-of-type {
            background: radial-gradient(
                80.66% 376.68% at -3.78% 90.51%,
                rgba(0, 176, 206, 0.3) 0%,
                rgba(0, 0, 0, 0) 100%
              )
              #182630;
            box-shadow: -4px -4px 10px rgba(51, 81, 102, 0.5),
              3px 3px 4px rgba(0, 0, 0, 0.1), 10px 10px 30px rgba(0, 0, 0, 0.4);
            .text {
              display: flex;
              justify-content: center;
              align-items: flex-start;
              flex-direction: column;
              span {
                font-family: "Play";
                font-style: normal;
                line-height: 16px;
                font-size: 14px;
                @media (max-width: 1700px) {
                  font-size: 13px;
                }
                &:first-of-type {
                  font-weight: 700;
                  text-transform: uppercase;
                  margin-bottom: 8px;
                  @media (max-width: 1700px) {
                    margin-bottom: 4px;
                  }
                }
                &:last-of-type {
                  font-weight: 400;
                  @media (max-width: $maxMedium) {
                    font-size: 12px;
                    line-height: 14px;
                  }
                }
              }
            }
          }
          &:nth-of-type(2) {
            background: radial-gradient(
                80.66% 376.68% at -3.78% 90.51%,
                rgba(255, 106, 22, 0.3) 0%,
                rgba(0, 0, 0, 0) 100%
              )
              #182630;
            box-shadow: -4px -4px 10px rgba(51, 81, 102, 0.5),
              3px 3px 4px rgba(0, 0, 0, 0.1), 10px 10px 30px rgba(0, 0, 0, 0.4);
            gap: 10px;
            @media (min-width: 1700px) {
              gap: 20px;
            }
            @media (max-width: $maxMedium) {
              h5 {
                position: relative;
                order: 1;
              }
            }
            .widget-text {
              align-items: flex-start;
              gap: 10px;
              justify-content: space-between;
              @media (max-width: $maxMedium) {
                gap: 17px;
                justify-content: flex-start;
              }
            }
            .text {
              display: flex;
              justify-content: center;
              align-items: flex-end;
              flex-direction: column;
              .top-text {
                margin-bottom: 8px;
                @media (max-width: 1700px) {
                  margin-bottom: 5px;
                }
              }
            }
            .number {
              font-family: "Play";
              font-style: normal;
              font-weight: 400;
              font-size: 30px;
              line-height: 35px;
              letter-spacing: 1.4px;
              @media (max-width: 1700px) {
                line-height: 25px;
              }
              @media (max-width: $maxMedium) {
                font-size: 26.9802px;
                line-height: 22px !important;
              }
            }
            h5 {
              margin: 0;
              font-style: normal;
              line-height: 26px;
              font-size: 16px;
              font-weight: 300;
              @media (max-width: 1700px) {
                font-size: 14px;
                line-height: 16px;
                strong {
                  font-size: 20px;
                }
              }
              @media (max-width: $maxMedium) {
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                strong {
                  font-weight: 700 !important;
                  font-size: 14px !important;
                  line-height: 16px !important;
                  text-transform: capitalize !important;
                }
              }
              strong {
                font-size: 22px;
                font-weight: 500;
                text-transform: uppercase;
              }
            }
          }
        }
      }
      &.widgets-4 {
        @media (max-width: 1650px) {
          grid-template-columns: repeat(2, 1fr) !important;
        }
        .widget {
          padding: 20px 23px;
          @media (max-width: 1700px) {
            padding: 20px;
            .widget-text {
              .top-text {
                .icon {
                  width: 32px !important;
                  height: 32px !important;
                  margin-right: 8px !important;
                }
                span {
                  font-size: 18px !important;
                }
              }
              p {
                font-size: 13px !important;
              }
              .number {
                font-size: 35px !important;
              }
            }
          }

          .widget-text {
            .top-text {
              .icon {
                width: 36px;
                height: 36px;
                background: rgba(255, 255, 255, 0.2);
                margin-right: 11px;
              }
              span {
                font-weight: 500;
                font-size: 22px;
                line-height: 26px;
              }
            }
            p {
              font-weight: 500;
              font-size: 14px;
              line-height: 16px;
              margin: 0;
              text-transform: uppercase;
            }
            .number {
              font-family: "Play";
              font-style: normal;
              font-weight: 400;
              font-size: 44px;
              line-height: 51px;
            }
          }
          .widget-chart {
            height: 120px;
          }
          &:first-of-type {
            background: radial-gradient(
                74.05% 80.47% at 0% 100%,
                rgba(24, 38, 48, 0.3) 0%,
                rgba(24, 38, 48, 0) 100%
              ),
              linear-gradient(
                0deg,
                rgba(98, 126, 234, 0.6),
                rgba(98, 126, 234, 0.6)
              ),
              #182630;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
              -4px -4px 10px rgba(98, 126, 234, 0.4),
              3px 3px 4px rgba(0, 0, 0, 0.1);
          }
          &:nth-of-type(2) {
            background: radial-gradient(
                47.16% 91.71% at 2.84% 100%,
                rgba(24, 38, 48, 0.3) 0%,
                rgba(24, 38, 48, 0) 100%
              ),
              linear-gradient(
                0deg,
                rgba(255, 148, 22, 0.8),
                rgba(255, 148, 22, 0.8)
              ),
              #182630;
            box-shadow: -4px -4px 10px rgba(255, 148, 22, 0.4),
              3px 3px 4px rgba(0, 0, 0, 0.1), 10px 10px 30px rgba(0, 0, 0, 0.4);
          }
          &:nth-of-type(3) {
            background: radial-gradient(
                50% 106.03% at 0% 100%,
                rgba(24, 38, 48, 0.3) 0%,
                rgba(0, 0, 0, 0) 100%
              ),
              linear-gradient(
                0deg,
                rgba(121, 98, 234, 0.6),
                rgba(121, 98, 234, 0.6)
              ),
              #182630;
            box-shadow: -4px -4px 10px rgba(121, 98, 234, 0.4),
              3px 3px 4px rgba(0, 0, 0, 0.1), 10px 10px 30px rgba(0, 0, 0, 0.4);
          }
          &:last-of-type {
            background: radial-gradient(
                52.69% 104.24% at 0% 100%,
                rgba(24, 38, 48, 0.3) 0%,
                rgba(24, 38, 48, 0) 100%
              ),
              linear-gradient(
                0deg,
                rgba(255, 120, 31, 0.8),
                rgba(255, 120, 31, 0.8)
              ),
              #182630;
            box-shadow: -4px -4px 10px rgba(255, 120, 31, 0.4),
              3px 3px 4px rgba(0, 0, 0, 0.1), 10px 10px 30px rgba(0, 0, 0, 0.4);
          }
        }
      }
      &.widgets-5 {
        gap: 24px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        @media (max-width: 1500px) {
          grid-template-columns: repeat(2, 1fr) !important;
        }
        .widget {
          padding: 13px 19px;
          @media (max-width: 1700px) {
            padding: 13px;
            gap: 10px;
            h5 {
              font-size: 14px !important;
              strong {
                font-size: 20px !important;
              }
            }
            .number {
              font-size: 37px !important;
            }
          }
          h5 {
            line-height: 18px;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 16px;
            strong {
              font-weight: 500;
              font-size: 22px;
            }
          }
          .number {
            font-family: "Play";
            font-style: normal;
            font-weight: 400;
            line-height: 51px;
            font-size: 44px;
          }
          &:first-of-type {
            background: radial-gradient(
                80.66% 376.68% at -3.78% 90.51%,
                rgba(98, 126, 234, 0.3) 0%,
                rgba(0, 0, 0, 0) 100%
              )
              #182630;
            box-shadow: -4px -4px 10px rgba(51, 81, 102, 0.5),
              3px 3px 4px rgba(0, 0, 0, 0.1), 10px 10px 30px rgba(0, 0, 0, 0.4);
          }
          &:nth-of-type(2) {
            background: radial-gradient(
                80.66% 376.68% at -3.78% 90.51%,
                rgba(255, 148, 22, 0.3) 0%,
                rgba(0, 0, 0, 0) 100%
              )
              #182630;
            box-shadow: -4px -4px 10px rgba(51, 81, 102, 0.5),
              3px 3px 4px rgba(0, 0, 0, 0.1), 10px 10px 30px rgba(0, 0, 0, 0.4);
          }
          &:nth-of-type(3) {
            background: radial-gradient(
                80.66% 376.68% at -3.78% 90.51%,
                rgba(98, 126, 234, 0.3) 0%,
                rgba(0, 0, 0, 0) 100%
              )
              #182630;
            box-shadow: -4px -4px 10px rgba(51, 81, 102, 0.5),
              3px 3px 4px rgba(0, 0, 0, 0.1), 10px 10px 30px rgba(0, 0, 0, 0.4);
          }
          &:nth-of-type(4) {
            background: radial-gradient(
                80.66% 376.68% at -3.78% 90.51%,
                rgba(255, 106, 22, 0.3) 0%,
                rgba(0, 0, 0, 0) 100%
              )
              #182630;
            box-shadow: -4px -4px 10px rgba(51, 81, 102, 0.5),
              3px 3px 4px rgba(0, 0, 0, 0.1), 10px 10px 30px rgba(0, 0, 0, 0.4);
          }
        }
      }
    }
  }
}
